<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<html lang="en">
<head>
    <title>Note</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='assets/css/main.css')}}"/> -->
    <link rel="icon" href="data:;base64,=">
</head>

<body>

    <form action="/login/" method="GET">
        Your English name:<br><br>
        <input class="input" type="text" name="name" placeholder="bran">
        <br><br>
        <input class="input" type="submit" value="Submit">
    </form> 

</body>
</html>